@charset 'utf-8';

body {
  margin: 50px;
  text-align: center;
}

button {
  cursor: pointer;
}

#thumb-list {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

#thumb-list li + li {
  margin-left: 7px;
}

#thumb-list li {
  opacity: 0.5;
  cursor: pointer;
}

#thumb-list li.active {
  opacity: 1;
}

#main {
  margin-bottom: 10px;
}


