.hoge,
.btn-blue {
  color: #f00;
}
.hoge:hover,
.btn-blue:hover {
  color: #00f;
}
.title {
  color: #00a6fc;
}
.hoge,
.btn-blue {
  width: 100%;
}
.mg-5 {
  margin: 5px;
}
.mg-10 {
  margin: 10px;
}
.mg-15 {
  margin: 15px;
}
.mg-20 {
  margin: 20px;
}
.test {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-blue {
  background-color: #000;
}
