@charset "UTF-8";

/* ==========================================================================
   Main Styles
   ========================================================================== */

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #efefef;
}

#header {
	padding: 20px 0;
	text-align: center;
	position: relative;
	background-color: #ffffff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

#logo {
	font-size: 2.2rem;
}

.btn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	margin: -17px 0 0 200px;
	padding: 10px 0;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
}


.btn:hover {
	background-color: #eeeeee;
	cursor: pointer;
}

#contents {
	width: 600px;
	margin: 50px auto 30px;
	position: relative;
	background-color: #ffffff;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.copyright {
	color: #bbbbbb;
	padding: 5px;
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #ffffff;
}

.li {
	padding: 20px;
	border-top: 1px solid #dddddd;
}

.li:first-child {
	border: none;
}

.date {
	text-align: right;
	font-size: 1.2rem;
	margin-top: -5px;
	color: #aaa;
}

.text {
	font-size: 2.2rem;
	line-height: 1.6;
	margin-top: 5px;
}

.hajimete {
	color: #0261FF;
	margin-left: 10px;
	font-size: 1.4rem;
}

.popup {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: fixed;
	top: 0; left: 0;
	background-color: rgba(0,0,0,0.4);
}

.popup-body {
	position: relative;
	text-align: center;
	width: 500px;
	margin: 100px auto;
	padding: 20px;
	background-color: white;
}

.popup-title {
	font-size: 2.0rem;
	margin-bottom: 20px;
}

.textarea {
	display: block;
	width: 90%;
	height: 100px;
	margin: 0 auto 20px;
	border: 1px solid #999999;
}

.popup-close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.popup-close:hover {
	text-decoration: underline;
}

.submit {
	-webkit-appearance: none;
	display: block;
	color: #333;
	font-size: 2.0rem;
	margin: 0 auto;
	background-color: white;
	border: 1px solid #666;
	border-radius: 4px;
	cursor: pointer;
}

.submit:hover {
	text-decoration: underline;
}

.edit-area {
	text-align: right;
}

.edit,
.trash {
	display: inline-block;
	cursor: pointer;
}

.edit:hover,
.trash:hover { text-decoration: underline; }