
body { background-color: #fff; }
.test {
	color: red;
	&:hover {
		color: blue;
	}
}

/*
#overview
Gulp入門サンプル
 
サンプルファイルです
*/
 
/*#styleguide
サンプル見出し1
 
サンプルの見出しスタイル
hoverすると青く2倍になる
 
```
<h1 class="test1">見出し1</h1>
```
*/
.test1 {
	color: black;
	transition: 200ms ease-out transform;
	animation: hoge 1s 0 infinite alternate;
	&:hover {
		color: blue;
		transform: translate(10px, 0);
	}
}

.test2 {
	color: red;
	transition: 200ms ease-out transform;
	animation: hoge 1s 0 infinite alternate;
	&:hover {
		color: blue;
		transform: translate(10px, 0);
	}
}