/*.slidein-text-left {
	position: relative;
	-webkit-animation-name: slidein-left;
	-webkit-animation-duration: 9s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes slidein-left {
0% {left:-300px;}
10% {left:0;}
100% {left:0;}
}

.slidein-text-right {
	position: relative;
	-webkit-animation-name: slidein-right;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes slidein-right {
0% {left:180px;}
20% {left:0;}
100% {left:0;}
}




/*.slidein-text-left {
	position: relative;
	-webkit-animation-name: slidein-left;
	-webkit-animation-duration: 9s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes slidein-left {
0% {left:-300px;}
10% {left:0;}
100% {left:0;}
}

.slidein-text-right {
	position: relative;
	-webkit-animation-name: slidein-right;
	-webkit-animation-duration: 9s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes slidein-right {
0% {right:-450px;}
20% {right:0;}
100% {right:0;}
}


.brigade-pt {
	display: -webkit-box;
	-webkit-box-pack:center;
}

.brigade-pt > li{
	text-align:center;
	list-style:none;
	padding:5px 0;
	-webkit-box-flex: 1;
	width: 1000px;
	height:30px;
}

.brigade-pt > li.my-brigade {
	background-color:#0a127e;
}

.brigade-pt > li.target_brigade {
	background-color:#770707;
}*/
