body {
	color: black;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	width:  100%;
	height: 100%;
}

#base {
	display: none;
	overflow: hidden;
	position: relative;
	width: 320px;
	height: 411px;
	background: #000000;
	color: white;
}

#mask {
	position: absolute;
	top:0; left:0;
	width: 320px;
	height: 411px;
	background: transparent;
}

/*-------------------------------*/

#boss {
	position:absolute;
	left:0px; top:0px;
	width:320px; 
	height: 100%;
	overflow: hidden;
}
#boss-bg {
	position:absolute;
	left:0px; top:48px; width:320px; height:320px;
}
#boss-chara {
	position:absolute; 
	left:0px; top:72px;
 	width:320px; height:275px;
}
@-webkit-keyframes boss-damaged-1 {
	  0% { -webkit-transform: translate3d(0px,  0px, 0px); }
	 25% { -webkit-transform: translate3d(0px,-10px, 0px); }
	 50% { -webkit-transform: translate3d(0px,  0px, 0px); }
	 75% { -webkit-transform: translate3d(0px, -5px, 0px); }
	100% { -webkit-transform: translate3d(0px,  0px, 0px); }
}
#boss-chara.damaged-1 {
	-webkit-animation-name: boss-damaged-1;
	-webkit-animation-duration: 0.3s;
}
#boss .flash {
	position:absolute; left:0px; top:0px; 
	width:320px; height:100%;
	background: #ffffff;
	opacity: 0;
}
#boss .damage-flash-1 {
	-webkit-animation-name: damage-flash-1;
	-webkit-animation-duration: 0.3s;
}

@-webkit-keyframes damage-flash-1 {
	  0% { opacity:0.0; }
	 25% { opacity:0.5; }
	 50% { opacity:0.0; }
	 75% { opacity:0.5; }
	100% { opacity:0.0; }
}

@-webkit-keyframes attacking-flash-1 {
	  0% { opacity:0.0; }
	 20% { opacity:0.2; }
	 60% { opacity:0.2; }
	100% { opacity:0.0; }
}
#boss .attacking-flash-1 {
	background: #ff6666;
	/*js化のため無効化-120509
	-webkit-transition-timing-function: ease-in;
	-webkit-animation-name: attacking-flash-1;
	-webkit-animation-duration: 0.3s;
	*/
}

@-webkit-keyframes boss-attacking-1 {
	  0% { -webkit-transform: translate3d(0px,  0px, 0px) scale(1.0); }
	 20% { -webkit-transform: translate3d(0px,  5px, 0px) scale(1.015); }
	 60% { -webkit-transform: translate3d(0px,  5px, 0px) scale(1.015); }
	100% { -webkit-transform: translate3d(0px,  0px, 0px) scale(1.0); }
}
#boss .attacking {
	-webkit-transition-timing-function: ease-in;
	-webkit-animation-name: boss-attacking-1;
	-webkit-animation-duration: 0.3s;
}

@-webkit-keyframes boss-anger-flash-1 {
	  0% { opacity:0.0; }
	  6% { opacity:0.4; }
	 80% { opacity:0.4; }
	100% { opacity:0.0; }
}

#boss .anger-flash-1 {
	background: #ff6666;
	-webkit-transition-timing-function: ease-out;
	-webkit-animation-name: boss-anger-flash-1;
	-webkit-animation-duration: 2.5s;
}

@-webkit-keyframes chara-skill-flash-1 {
	  0% { opacity:0.0; }
	 15% { opacity:0.3; }
	 75% { opacity:0.3; }
	100% { opacity:0.0; }
}

#boss .chara-skill-flash-1 {
	-webkit-transition-timing-function: ease-out;
	-webkit-animation-name: chara-skill-flash-1;
	-webkit-animation-duration: 2.2s;
}

#boss-status-v1 {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	position:absolute; left:4px; top:4px; width:312px; height:48px;
	background: rgba(0,0,0, 0.6);
	overflow: hidden;
}
#boss-status {
	position:absolute; left:4px; top:4px; width:312px; height:48px;
	overflow: hidden;
	border: ridge 3px #7e0d0f;
	background: url(../img/boss/battle/st-bg-tile.png) repeat;
}

#boss-name {
	position:absolute; left:8px; top:4px; width:100%; height:14px;
	font-size: 13px;
	font-weight: bold;
	color: #f2f2f4;
}
#boss-life {
	position:absolute; left:2px; top:28px; width:140px; height:14px;
	text-align: right;
	font-size: 12px;
}
#boss-life-gauge-frame1 {
	position:absolute; left:148px; top:28px; width:158px; height:12px;
	background: #000000;
}
#boss .life-gauge-bg {
	position:absolute; width:100%; height:12px;
	opacity: 0.5;
}
#boss .life-gauge-bar {
	position:absolute; width:100%; height:12px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.1s;
}
#boss-life-gauge-frame2 {
	position:absolute; left:-1px; top:-1px; width:160px; height:14px;
	padding: 1px 2px 1px 2px;
	-webkit-border-image: url(../img/boss/battle/life-frame.png) 4 4 4 4 / 4px;
}

/*-------------------------------*/

#boss-anger {
	position:absolute; 
	left:0px; top:84px; 
	width:320px; height:148px;
	background: #000000;
	/* height: 4px */
	background-image:
		url(../img/boss/battle/anger-bar-t.png),
		url(../img/boss/battle/anger-bar-b.png);
	background-repeat: repeat-x, repeat-x;
	background-position: left top, left bottom;
	opacity: 0;
	-webkit-transition-duration: 0.2s;
}
#boss-anger-in {
	position:absolute; 
	left:0px; top:0px; 
	width:320px; height:140px;
/*	-webkit-transform: translate3d(-320px,0px, 0px);*/
}
/*@-webkit-keyframes boss-anger-anime-1 {
	  0% { -webkit-transform: translate3d(-320px, 0px, 0px); }
	 10% { -webkit-transform: translate3d(   0px, 0px, 0px); }
	 90% { -webkit-transform: translate3d(   0px, 0px, 0px); }
	100% { -webkit-transform: translate3d( 320px, 0px, 0px); }
}
*/
#boss-anger-in.anger-anime-1 {
	-webkit-animation-name: boss-anger-anime-1;
	-webkit-animation-duration: 2.5s;
}

#boss-anger-img {
	position:absolute; 
/*	left:13px; top:13px; width:134px; height:134px;*/
	left:0px; top:4px; width:320px; height:140px;
}
#boss-anger-text {
/*	position:absolute; left:160px; top:13px; width:147px; height:134px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
*/}
#boss-anger-text-in {
	color: #ff0000;
	font-size:18px;
	font-weight: bold;
	line-height: 120%;
}


/*-------------------------------*/

#boss-warning {
	position:absolute; left:0px; top:80px; width:320px; height:160px;
	background: #000000;
	background-image:
		url(../img/boss/battle/anger-bar-t.png),
		url(../img/boss/battle/anger-bar-b.png);
	background-repeat: repeat-x, repeat-x;
	background-position: left top, left bottom;
	display: none;
}
#boss-warning-in {
	position:absolute; left:0px; top:0px; width:320px; height:160px;
	-webkit-transform: translate3d(-320px,0px, 0px);
}
@-webkit-keyframes boss-warning-anime-1 {
	  0% { -webkit-transform: translate3d(-320px, 0px, 0px); }
	 10% { -webkit-transform: translate3d(   0px, 0px, 0px); }
	 90% { -webkit-transform: translate3d(   0px, 0px, 0px); }
	100% { -webkit-transform: translate3d( 320px, 0px, 0px); }
}
#boss-warning-in.warning-anime-1 {
	-webkit-animation-name: boss-warning-anime-1;
	-webkit-animation-duration: 4.5s;
}

#boss-warning-img {
	position:absolute; left:13px; top:13px; width:134px; height:134px;
}
#boss-warning-text {
	position:absolute; left:160px; top:13px; width:147px; height:134px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
#boss-warning-text-in {
	color: #ff0000;
	font-size:18px;
	font-weight: bold;
	line-height: 120%;
}


/*-------------------------------*/

#players {
	position:absolute; left:0px; top:333px; width:320px; height:80px;
	background: #000000;
}

.player {
	position:absolute; left:0px; top:0px; width:104px; height:80px;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 0.2s;
}
@-webkit-keyframes player-damaged-1 {
	  0% { -webkit-transform: translate3d(0px,  0px, 0px); }
	 25% { -webkit-transform: translate3d(0px, 10px, 0px); }
	 50% { -webkit-transform: translate3d(0px, -5px, 0px); }
	 75% { -webkit-transform: translate3d(0px, 10px, 0px); }
	100% { -webkit-transform: translate3d(0px,  0px, 0px); }
}
#players .damaged-1 {
	-webkit-animation-name: player-damaged-1;
	-webkit-animation-duration: 0.3s;
}
#players .flash {
	position:absolute; left:0px; top:0px; width:100%; height:100%;
	background: #ffffff;
	opacity: 0;
}
#players .damage-flash-1 {
	-webkit-animation-name: damage-flash-1;
	-webkit-animation-duration: 0.3s;
}

#players .attacking {
	
	-webkit-transform: translate(0px,-10px);
	
}

.player-image {
	position:absolute; left:0px; top:0px; width:0px; height:0px;
}

.player-name {
	position:absolute; left:4px; top:14px; width:100px; height:20px;
	font-size: 14px;
	overflow: hidden;
}
.player-life {
	position:absolute; left:4px; top:32px; width:94px; height:20px;
	text-align: right;
	font-size: 12px;
	overflow: hidden;
}
.life-value, .life-max {
	font-size: 12px;
}

.player-life-gauge-frame1 {
	position:absolute; left:5px; top:50px; width:94px; height:12px;
	background: #000000;
}
#players .life-gauge-bg {
	position:absolute; width:100%; height:12px;
	opacity: 0.5;
}
#players .life-gauge-bar {
	position:absolute; width:100%; height:12px;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0.1s;
}
.player-life-gauge-frame2 {
	position:absolute; left:-1px; top:-1px; width:96px; height:14px;
	padding: 1px 2px 1px 2px;
	-webkit-border-image: url(../img/boss/battle/life-frame.png) 4 4 4 4 / 4px;
}


.player-back1 {
	background-image:
		url(../img/head/top-type1.png),
		url(../img/head/bottom-type1.png),
		url(../img/head/bg-type1.png);
	background-repeat: repeat-x, repeat-x, repeat;
	background-position: left top, left bottom, left top;
}
.player-back2 {
	background-image:
		url(../img/head/top-type2.png),
		url(../img/head/bottom-type2.png),
		url(../img/head/bg-type2.png);
	background-repeat: repeat-x, repeat-x, repeat;
	background-position: left top, left bottom, left top;
}
.player-back3 {
	background-image:
		url(../img/head/top-type3.png),
		url(../img/head/bottom-type3.png),
		url(../img/head/bg-type3.png);
	background-repeat: repeat-x, repeat-x, repeat;
	background-position: left top, left bottom, left top;
}

.player-back1-2 {
	background-position: left top, left bottom, left top;
}
.player-back2-2 {
	background-position: left top, left bottom, left top;
}
.player-back3-2 {
	background-position: left top, left bottom, left top;
}

/*-------------------------------*/

#command-menu {
	position:relative; left:0; top:273px; width:100%; height:60px;
	/*
	-webkit-transition-duration: 0.2s;
	-webkit-transform: scale(0.1);
	opacity: 0;
	*/
}

#command-menu.show {
	-webkit-transform: scale(1.0);
	opacity: 1;
}
#command-menu.hide {
	-webkit-transform: scale(0.1);
	opacity: 0;
}

.command-button,
.command-button * {
	text-align: center;
	font-size: 24px;
}
.command-button {
	position:absolute; left:160px; top:0px; width:150px; height:40px;
	background: rgba(0,0,0, 0.9);
	border: 2px solid #999999;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding-top: 4px;
}

.command-attack {
	margin-left: -155px;
}

.command-attack-only {
	margin-left: -75px;
}

.command-heal {
	margin-left: 5px;
}

.command-hidden {
	visibility: hidden;
}

#command-attack {
}
#command-heal {
}
#command-heal.disabled {
	opacity: 0.6;
}

/*-------------------------------*/

.skill {
	position:absolute; 
	left:0px; top:84px; 
	width:320px; height:148px;
	background: #000000;
	/* height: 4px */
	background-image:
		url(../img/boss/battle/anger-bar-t.png),
		url(../img/boss/battle/anger-bar-b.png);
	background-repeat: repeat-x, repeat-x;
	background-position: left top, left bottom;

	opacity: 0;

	-webkit-transition-duration: 0.2s;
}
.skill-in {
	position:absolute; 
	left:0px; top:0px; 
	width:320px; height:140px;
/*	-webkit-transform: translate3d(-320px,0px, 0px); */
}
@-webkit-keyframes skill-anime-1 {
	  0% { -webkit-transform: translate3d(-320px, 0px, 0px); opacity: 1; }
	 15% { -webkit-transform: translate3d(   0px, 0px, 0px); opacity: 1; }
	 75% { -webkit-transform: translate3d(   0px, 0px, 0px); opacity: 1; }
	100% { -webkit-transform: translate3d( 640px, 0px, 0px); opacity: 1; }
}

.skill-anime-1 {
	-webkit-animation-name: skill-anime-1;
	-webkit-animation-duration: 2.2s;
}

.skill-img {
	position:absolute; 
/*	left:13px; top:13px; width:134px; height:134px;*/
	left:0px; top:4px; width:320px; height:140px;
}
.skill-text {
	position:absolute;
    left:115px; top:0px; width:192px; height:134px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
.skill-text-in {
/*
    -webkit-text-fill-color: #ffff00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
*/
    color: #ffffff;
    font-size:24px;
    font-weight: bold;
    line-height: 120%;
    text-shadow: 2px 2px 2px black;
    -webkit-transform: rotate(-12deg);
}


/*-------------------------------*/
