<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<title>AngularJS demo</title>
		<script src="../js/angular.v1.2.28.min.js"></script>
		<script src="myApp.js"></script>
	</head>
	<body>
		<div ng-controller="MainCtrl">
			<input type="search" ng-model="search.name" placeholder="名前から検索"><br>
			<input type="search" ng-model="search.age" placeholder="年齢から検索"><br>
			<ul ng-repeat="member in members | filter:search">
				<li>{{member.name}} {{member.age}}</li>
			</ul>
		</div>
	</body>
</html>
